<!DOCTYPE html>
<html lang="en">

<head>
 <% if(user){ %>
                   <script> sessionStorage.setItem('user', '<%=user%>'); </script>
                <% } %>
    <meta charset="utf-8">
    <title>Group chat with aes encryption</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <style>
        .chat {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        .chat li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
        }
        
        .panel-body {
            overflow-y: scroll;
            height: 250px;
        }
          
    </style>
</head>

<body>

    <h2 style="text-align: center; margin-bottom: 1.5em;">Group chat with AES encryption</h2>

    <div class="container">
        <div class="row">
            <div class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordion">
                        <span class="glyphicon glyphicon-comment"></span> Chat

                    </div>
                    <div class="panel-primary">
                        <div class="panel-body">
                        <ul class="chat" id="chat">
                                
                      
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button onclick="send_message()" class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script src="/crypto-js.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
